/dts-v1/;
/plugin/;
/ {
	fragment {
		target-path = "/";
		__overlay__ {
			mydata: data {
				string = "hello data1";
			};
			mydevice1 {
				compatible = "example,mydriver1";
				data = <&mydata>;
			};
		};
	};
};
