/dts-v1/;
/plugin/;
/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			mydata:	data@2.1 {
				string = "hello data 2.1";
			};
			mydevice@2.1 {
				compatible = "example,mydriver1";
				data = <&mydata>;
			};
		};
	};
};
