/dts-v1/;
/plugin/;
/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			data@2.2 {
				string = "hello data 2.2";
			};
			mydevice@2.2 {
				compatible = "example,mydriver1";
				data = "/data@2.2";
			};
		};
	};
};
